.container-height {
  height: calc(100vh - 57px);
}

.friends-max-height-tab {
  max-height: 50vh;
  overflow-y: auto;
}

.star-empty {
  color: var(--star-empty-light);
}

/* Dark Mode */
[data-theme="dark"] .star-empty {
  color: var(--star-empty-dark);
}