/* Sidebar Styling */
.sidebar-container {
  max-height: 100vh;
  overflow-y: auto;
  min-width: 200px;
  max-width: 500px;
}

/* Content Styling */
.content-container {
  min-width: 200px;
}

.profile-container {
  height: calc(100vh - var(--nav-height)); /* Adjust height based on navbar */
  overflow-y: auto; /* Prevent unwanted scroll issues */
}

/* Theme-based Styles */
[data-theme="light"] {
  /* Content Background & Text */
  .content-container {
    background-color: var(--bg-color-user-profile-content-light);
    color: var(--text-dark-gray);
  }

  /* Tab Links */
  .tab-link {
    color: var(--text-dark-gray) !important;
  }

  .tab-link:hover {
    background-color: rgba(0, 0, 0, 0.15); /* Soft hover effect */
    transition: background-color 0.3s ease;
  }

  /* Active Tab */
  .tab-link.active {
    background-color: var(--bg-color-user-profile-content-light);
    color: var(--text-dark-gray) !important;
  }
}

[data-theme="dark"] {
  /* Content Background & Text */
  .content-container {
    background-color: var(--bg-color-user-profile-content-dark);
    color: var(--text-soft-white);
  }

  /* Tab Links */
  .tab-link {
    color: var(--text-soft-white) !important;
  }

  .tab-link:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Subtle hover effect */
    transition: background-color 0.3s ease;
  }

  /* Active Tab */
  .tab-link.active {
    background-color: var(--bg-color-user-profile-content-dark);
    color: var(--text-soft-white) !important;
  }
}

/* General Tab Link Styling */
.tab-link {
  cursor: pointer;
  transition: border-color 0.3s ease, color 0.3s ease;
}
