/* Default Sidebar Styling (for larger screens) */
.sidebar-container {
  position: sticky;
  top: 0;
  overflow-y: auto;
  height: 80dvh; 
  min-width: 200px;
  max-width: 500px;
  z-index: 10000;
}

/* Fix for Smaller Screens */
@media (max-width: 768px) {
  .sidebar-container {
    height: 15svh; /* Use Small Viewport Height for better mobile support */
    max-width: 100%; /* Allow it to fit smaller screens */
  }
}

@media (max-width: 480px) {
  .sidebar-container {
    height: 10svh ;/* Adjust based on mobile browser UI */
    min-width: 150px; /* Ensure it doesn’t get too small */
  }
}

/* Content Styling */
.content-container {
  min-width: 200px;
}



/* Light Theme */
[data-theme="light"] {
  /* Sidebar */
  .sidebar-container {
    background-color: var(--color-light-gray);
  }

  /* Content */
  .content-container {
    background-color: var(--bg-color-user-profile-content-light);
    color: var(--text-dark-gray);
  }

  /* Tab Links */
  .tab-link {
    color: var(--text-dark-gray) !important;
  }

  .tab-link:hover {
    background-color: rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s ease;
  }

  /* Active Tab */
  .tab-link.active {
    background-color: var(--bg-color-user-profile-content-light);
    color: var(--text-dark-gray) !important;
  }
}

/* Dark Theme */
[data-theme="dark"] {
  /* Sidebar */
  .sidebar-container {
    background-color: var(--color-dark-slate);
  }

  /* Content */
  .content-container {
    background-color: var(--bg-color-user-profile-content-dark);
    color: var(--text-soft-white);
  }

  /* Tab Links */
  .tab-link {
    color: var(--text-soft-white) !important;
  }

  .tab-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s ease;
  }

  /* Active Tab */
  .tab-link.active {
    background-color: var(--bg-color-user-profile-content-dark);
    color: var(--text-soft-white) !important;
  }
}

/* General Tab Link Styling */
.tab-link {
  cursor: pointer;
  transition: border-color 0.3s ease, color 0.3s ease;
}
